<include file="common/head" />
<title>修改密码</title>
</head>
<body>
<div class="pd-20">

        <input type="hidden" value="<{$id}>" name="uid" />
        <table class="table">
            <tbody>
            <tr>
                <th width="100" class="text-r"><span class="c-red">*</span>新密码：</th>
                <td><input type="password" style="width:200px" class="input-text" value="" id="teacher-new-password" name="teacher-new-password"></td>
            </tr>
            <tr>
                <th class="text-r"><span class="c-red">*</span> 确认密码：</th>
                <td><input type="password" style="width:200px" class="input-text" value="" id="teacher-new-password2" name="teacher-new-password2"></td>
            </tr>
            <tr>
                <th></th>
                <td><button class="btn btn-success radius" onclick="xiugai_password()"><i class="icon-ok"></i> 确定</button></td>
            </tr>
            </tbody>
        </table>

</div>
<include file="common/foot" />