<include file='common:head' />
<title>节点信息编辑</title>
</head>
<body>
<div class="pd-20">
    <div class="Huiform">
        <form action="__SELF__" method="post">

            <table class="table table-bg">
                <tbody>
                <tr>
                        <th></th>
                    <td>
                        	 <span class="select-box" style='width:200px;'>
	            <select  class='select' name="pid" size="1">
                 <option value="0">栏目标题</option>
                        <?php $i=0; ?>
                    <volist name="name_zero" id="voli">
                        <option value="<{$voli.id}>"><{$voli.name}></option>
                        <volist name="much_array" id="shang">
                         <if condition="$voli.id eq $shang.pid">
                             <option value="<{$shang.id}>"><{$shang.name}></option>
                         </if>
                        </volist>
                         </volist>
                    </select>
	                         </span>
                    </td>
                </tr>
                <tr>
                    <th width="100" class="text-r">节点名称：</th>

                    <td><input type="text" style="width:200px" class="input-text name" value="" placeholder=""  name="name"></td>
                </tr>

                <tr>
                    <th class="text-r"> 字段名称：</th>
                    <td><input type="text" style="width:200px" class="input-text control_action" value="" placeholder=""  name="control_action"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><button class="btn btn-success radius" type="button" onclick='power_add()'><i class="icon-ok"></i> 确定</button></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<include file='common:foot' />