<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>登陆</title>
    <link rel="stylesheet" href="/view/css/mui.min.css">
    <link rel="stylesheet" href="/view/css/mui.picker.min.css">
    <link rel="stylesheet" href="/view/css/mui.picker.min.css">
    <link rel="stylesheet" href="/view/ico/css/iconfont.css">
    <link rel="stylesheet" href="/view/css/main.css">
</head>
<body class="bg-01">
<div class="mui-content mui-login" id="app">
    <div class="mui-row mui-row-img" align="center">
        <img src="/view/images/01.png" alt="">
    </div>
    <div class="mui-row mui-input">
        <div class="mui-col-sm-12 mui-col-xs-12">
            <div class="mui-input-row bg-03">
                <i class="iconfont font-size-21 font-color-02">&#xe71f;</i>
                <input type="text" class="mui-input-clear mui-input font-size-14 font-color-02" placeholder="账 号" value="" maxlength="11" v-model="phoneNumber">
            </div>
        </div>
        <div class="mui-col-sm-12 mui-col-xs-12">
            <div class="mui-input-row bg-03">
                <i class="iconfont font-size-21 font-color-02">&#xe6d1;</i>
                <input type="password" class="mui-input-clear mui-input font-size-14 font-color-02" placeholder="密 码" value="" maxlength="11" v-model="loginPass">
            </div>
        </div>
        <div class="mui-col-sm-12 mui-col-xs-12 font-color-25">
            <button class="mui-input-row mui-submit font-color-01 bg-02">
                登&nbsp;陆
            </button>
        </div>
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6">
                <a href="#" class="font-color-01 font-size-14">会员注册</a>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6" align="right">
                <a href="#" class="font-color-01 font-size-14">忘记密码？</a>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/view/js/mui.min.js"></script>
<script src="/view/js/mui.picker.js"></script>
<script src="/view/js/mui.poppicker.js"></script>
<script src="/view/js/jquery-3.1.1.min.js"></script>
<script src="/view/js/vue.js"></script>
<script src="/view/js/vue-resource.js"></script>
<script src="/view/js/main.js"></script>
</html>