<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/hui/favicon.ico" >
    <link rel="Shortcut Icon" href="/hui/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/hui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/hui/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/hui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/hui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/hui/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/hui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/hui/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/hui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>基本设置</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    系统管理
    <span class="c-gray en">&gt;</span>
    基本设置
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span>基本设置</span>
                <span>安全设置</span>
                <span>短信设置</span>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>网站开关：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <label>
                            <input name="onoff" type="radio" id="six_1w" value="1"   <if condition='$config.onoff  eq 1'>checked</if> >
                            开启</label>
                        <label>
                            <input type="radio" name="onoff" value="0" id="six_0s" <if condition='$config.onoff  eq 0'>checked</if>>
                            关闭</label>（关闭后，前台不能登录）
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>网站超时开关：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <label>
                            <input name="chaoshi" type="radio" id="six_1" value="1"   <if condition='$config.chaoshi  eq 1'>checked</if> >
                            开启</label>
                        <label>
                            <input type="radio" name="chaoshi" value="0" id="six_0" <if condition='$config.chaoshi  eq 0'>checked</if>>
                            关闭</label>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>地址：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="website-titled" placeholder="地址" value="<{$config.weburl}>" class="input-text weburl">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>邮编：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="website-title" placeholder="控制在25个字、50个字节以内" value="<{$config.webname}>" class="input-text webname">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>电话：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="website-Keywordsd" placeholder="电话" value="<{$config.title}>" class="input-text title">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>咨询电话：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="website-Keywords" placeholder="咨询电话" value="<{$config.keywords}>" class="input-text keywords">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>描述：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="website-description" placeholder="空制在80个汉字，160个字符以内" value="<{$config.description}>" class="input-text description">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>底部版权信息：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="website-copyright" placeholder="&copy; 2016 uicic.com" value="<{$config.copyright}>" class="input-text copyright">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">备案号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="website-icp" placeholder="京ICP备00000000号" value="<{$config.icp}>" class="input-text icp">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">统计代码：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea class="textarea cnzz" ><{$config.cnzz}></textarea>
                    </div>
                </div>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">允许访问后台的IP列表：</label>
                    <div class="formControls col-xs-8 col-sm-8">
                        <textarea class="textarea ip" name="ip"  placeholder="127.0.0.1,192.168.1.1   ip之间用逗号隔开,ip段设置为尾数*"><{$config.ip}></textarea>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">后台登录失败次数：</label>
                    <div class="formControls col-xs-8 col-sm-8">
                        <input type="text" class="input-text num" value="<{$config.num}>" id="num" name="num" />
                    </div>
                </div>
            </div>
            <div class="tabCon">

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">服务器地址：</label>
                    <div class="formControls col-xs-4 col-sm-4">
                        <input type="text" id="email-smsservice" value="<{$config.smsservice}>" name="smsservice" class="input-text smsservice">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">短信账号：</label>
                    <div class="formControls col-xs-4 col-sm-4">
                        <input type="text" id="email-username" value="<{$config.smsusername}>" name="smsusername" class="input-text smsusername">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">短信密码：</label>
                    <div class="formControls col-xs-4 col-sm-4">
                        <input type="password" id="email-password" value="<{$config.smspassword}>" name="smspassword" class="input-text smspassword">
                    </div>
                </div>
            </div>
            <div class="tabCon">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="settingsave()" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button  class="btn btn-default radius" type="reset">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/hui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/hui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/hui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/hui/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#tab-system").Huitab({
            index:0
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
