<include file="common/header" />
<style>
    .left-bo{border-right: 1px solid #575555}
</style>
<body style="background: #072431">
<header class="mui-bar mui-bar-nav mui-head bg-01">
    <a class="mui-icon mui-icon-back mui-pull-left mui-action-back font-color-01" ></a>
    <h1 id="title" class="mui-title font-color-01 font-size-15">投资</h1>
</header>

<div class="mui-content Investment bg-19" id="app">
    <div class="row Investment-title">
        <p class="font-color-01 font-size-14">账号：<{$data_s.mobile}></p>
        <p class="font-color-01 font-size-14 mui-text-center title-mo"><span class="mui-pull-left font-color-15">余额：<span class="font-color-11"><{$data_s.money}></span></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-color-15">奖金：<span class="font-color-11"><{$data_s.bonus}></span></span>
            <a href="<{:url('user/takeThe')}>" class="mui-pull-right mui-btn mui-btn-outlined font-color-01 bg-24" style="margin-top: -15px;line-height: 30px"> <span class="font-size-14 font-color-01">我要提现</span></span></a>
        </p>
    </div>
    <div class="mui-row Investment-head bg-12">
        <volist name="list" id="vo">
            <div class="mui-col-sm-12 mui-col-xs-12 font-size-14 mui-text-center font-color-01 mui-text-centersa" style="padding: 10px 0;background: #082837;border-bottom: 1px solid #a6ebff" data-value="<{$vo.id}>">
                产品专区
            </div>
        </volist>
    </div>
    <div class="mui-row Investment-content" id="htmlk">
    </div>
</div>

<include file="common/footer" />
</body>
</html>
<include file="common/script" />

<script>
    $('.mui-text-center:first').addClass('active');
    mui('.Investment-head').on('tap','div',function(){
        const thio = this;
        const ls =  $(this).attr('data-value');
        $(thio).siblings().removeClass('active');
        $(thio).addClass('active');
        ajaxs(ls)
    })
    var value = $('.mui-text-centersa:first').attr('data-value');
    ajaxs(value);
    function ajaxs(ls){
        var url = "<{:url('index/Goods/ajax_product')}>";
        $.ajax({
            url:url,
            type:'post',
            dataType:'json',
            async:false,
            data:{id:ls},
            success:function(data){
                $('#htmlk').empty();
                console.log(data);
                if(data.status == 1){
                    var html = '';
                    for(var i=0;i<data.chang;i++){
                        html += '<div class="goods bg-26">'
                            +'<div class="mui-row img mui-pull-left">'
                            +'<img src="/'+data.data[i].path_img+'" alt="">'
                            +'</div>'+'<div class="mui-row font-size-14 goods-content mui-pull-left font-color-15">'
                            +'<span>'+data.data[i].title+'</span> '+'<br />'
                            +'<span class="font-color-11">'+'￥'+data.data[i].price+'</span>'
                            +'<a href="'+data.data[i].url+'" class="mui-btn font-color-01 mui-pull-right font-size-13">'
                            +'购买'+'</a>'
                            +'</div>'
                            +'</div>'
                    }
                    $('.Investment-content').append(html);
                }
            },error:function (type) {
                console.log(type)
            }
        });

    }

    document.getElementById('defaultTab').classList.add('mui-active');
    document.getElementsByClassName('mui-text-centersa')[0].classList.add('active','left-bo');
</script>
<include file="common/pass_error" />

