<include file="common:head" />
    <title>首页</title>
</head>
<body class="bg-03">
<header class="mui-bar mui-bar-nav mui-head bg-01">
    <a class="mui-icon mui-icon-back mui-pull-left mui-action-back font-color-01" ></a>
    <h1 id="title" class="mui-title font-color-01 font-size-15">首页</h1>
</header>
<div class="mui-content mui-user bg-03 index">
    <div class="mui-row mui-bg-div bg-01">
        <img src="/view/images/01.png" alt="" class="mui-pull-left">
        <span class="font-size-14 mui-pull-left font-color-01">账号：13895056206 </span>
        <span class="mui-pull-right font-size-14"><a href="#" class="font-color-01">修改密码  <i class="mui-icon mui-icon-forward inc-float font-size-18"></i></a></span>
    </div>
    <div class="mui-row bg-01 mui-user-Assets">
        <div class="mui-col-sm-6 mui-col-xs-6 mui-text-center font-size-14">
            <span class="font-color-01">余额：</span> <span class="font-color-03">￥50860<a href="#" class="mui-btn mui-btn-outlined font-color-03">提现</a></span>
        </div>
        <div class="mui-col-sm-6 mui-col-xs-6 mui-text-center font-size-14 left">
            <span class="font-color-01">奖金：</span><span class="font-color-03">￥3500 <a href="#" class="mui-btn mui-btn-outlined font-color-03">提现</a></span>
        </div>
    </div>
    <div class="mui-row index-content bg-04">
        <div class="index-content-head mui-text-center font-size-14 bg-05 font-color-01">
            <span>投资总额</span><br /><span>￥3000</span>
        </div>
        <div class="index-content-head mui-text-center font-size-14 bg-06 font-color-01">
            <span>投资收益</span><br /><span>￥600</span>
        </div>
        <div class="index-content-head mui-text-center font-size-14 bg-07 font-color-01">
            <span>团队人数</span><br /><span>600</span>
        </div>
        <div class="index-content-head mui-text-center font-size-14 bg-08 font-color-01">
            <span>奖金</span><br /><span>￥3500</span>
        </div>
    </div>
    <div class="mui-row index-table">
        <div class="mui-col-sm-12 mui-col-xs-12 font-size-15">
            投资列表
        </div>
        <div class="row table-content" id="table-content">
            <div class="mui-table font-size-14 table-contents">
                <div class="mui-table-cell mui-text-center">
                    编号
                </div>
                <div class="mui-table-cell mui-text-center">
                    会员
                </div>
                <div class="mui-table-cell mui-text-center">
                    金额
                </div>
                <div class="mui-table-cell mui-text-center">
                    日期
                </div>
            </div>
            <div class="mui-row Roll" id="demo">
                <ul class="mui-row">
                    <li class="mui-row">
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                    </li>
                    <li class="mui-row">
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                    </li>
                    <li class="mui-row">
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                        <div class="mui-table font-size-14 table-contents">
                            <div class="mui-table-cell mui-text-center">
                                A0001
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                138*****223
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                1500元
                            </div>
                            <div class="mui-table-cell mui-text-center">
                                2017/10/22
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mui-row index-Notice">
        <div class="mui-col-sm-12 mui-col-xs-12 font-size-15">
            通知公告
        </div>
        <div class="mui-col-sm-12 mui-col-xs-12 font-size-14">
            <div class="yuan bg-01 mui-pull-left"></div> <span class="mui-pull-left">关于新老系统平移的最新通知</span>
        </div>
        <div class="mui-col-sm-12 mui-col-xs-12 font-size-14">
            <div class="yuan bg-01 mui-pull-left"></div> <span class="mui-pull-left">关于新老系统平移的最新通知</span>
        </div>
        <div class="mui-col-sm-12 mui-col-xs-12 font-size-14">
            <div class="yuan bg-01 mui-pull-left"></div> <span class="mui-pull-left">关于新老系统平移的最新通知</span>
        </div>
        <div class="mui-col-sm-12 mui-col-xs-12 font-size-14">
            <div class="yuan bg-01 mui-pull-left"></div> <span class="mui-pull-left">关于新老系统平移的最新通知</span>
        </div>
        <div class="mui-col-sm-12 mui-col-xs-12 font-size-14">
            <div class="yuan bg-01 mui-pull-left"></div> <span class="mui-pull-left">关于新老系统平移的最新通知</span>
        </div>
        <div class="mui-col-sm-12 mui-col-xs-12 font-size-14">
            <div class="yuan bg-01 mui-pull-left"></div> <span class="mui-pull-left">关于新老系统平移的最新通知</span>
        </div>
    </div>
    <div class="mui-row index-ren">
        <div class="mui-col-sm-6 mui-col-xs-6 mui-text-center font-size-15">会员人数：60000</div>
        <div class="mui-col-sm-6 mui-col-xs-6 mui-text-center font-size-15">在线人数：360</div>
    </div>
</div>
<include file="common:foot" />
