<include file="common:head" />
    <title>投资</title>
</head>
<body class="bg-04">
<header class="mui-bar mui-bar-nav mui-head bg-01">
    <a class="mui-icon mui-icon-back mui-pull-left mui-action-back font-color-01" ></a>
    <h1 id="title" class="mui-title font-color-01 font-size-15">投资</h1>
</header>

<div class="mui-content Investment bg-04">
    <div class="mui-row Investment-head bg-03">
        <div class="mui-col-sm-3 mui-col-xs-3 font-size-13 mui-text-center active">
            100元商品
        </div>
        <div class="mui-col-sm-3 mui-col-xs-3 font-size-13 mui-text-center">
            500元商品
        </div>
        <div class="mui-col-sm-3 mui-col-xs-3 font-size-13 mui-text-center">
            1000元商品
        </div>
        <div class="mui-col-sm-3 mui-col-xs-3 font-size-13 mui-text-center">
            1500元商品
        </div>
    </div>
    <div class="mui-row Investment-content">
        <div class="goods bg-03">
            <div class="mui-row img">
                <img src="images/04.png" alt="">
            </div>
            <div class="mui-row font-size-13 goods-content">
                <span>手机话费充值卡</span> <br />
                <span>￥100</span>
                <button type="button" class="mui-btn bg-01 font-color-01 mui-pull-right font-size-13">
                    购买
                </button>
            </div>
        </div>
        <div class="goods bg-03">
            <div class="mui-row img">
                <img src="images/04.png" alt="">
            </div>
            <div class="mui-row font-size-13 goods-content">
                <span>手机话费充值卡</span> <br />
                <span>￥100</span>
                <button type="button" class="mui-btn bg-01 font-color-01 mui-pull-right font-size-13">
                    购买
                </button>
            </div>
        </div>
        <div class="goods bg-03">
            <div class="mui-row img">
                <img src="images/04.png" alt="">
            </div>
            <div class="mui-row font-size-13 goods-content">
                <span>手机话费充值卡</span> <br />
                <span>￥100</span>
                <button type="button" class="mui-btn bg-01 font-color-01 mui-pull-right font-size-13">
                    购买
                </button>
            </div>
        </div>
        <div class="goods bg-03">
            <div class="mui-row img">
                <img src="images/04.png" alt="">
            </div>
            <div class="mui-row font-size-13 goods-content">
                <span>手机话费充值卡</span> <br />
                <span>￥100</span>
                <button type="button" class="mui-btn bg-01 font-color-01 mui-pull-right font-size-13">
                    购买
                </button>
            </div>
        </div>
    </div>
</div>

<nav class="mui-bar mui-bar-tab bg-03" id="nav">
    <a id="defaultTab" class="mui-tab-item" data-title="首页">
        <span class="iconfont font-size-25">&#xe602;</span>
        <br>
        <span class="mui-tab-label font-size-14">首页</span>
    </a>
    <a class="mui-tab-item" data-title="投资" id="transaction">
        <span class="iconfont font-size-25">&#xe604;</span>
        <br>
        <span class="mui-tab-label font-size-14">投资</span>
    </a>
    <a class="mui-tab-item " data-title="推广" id="Warehouse">
        <span class="iconfont font-size-25">&#xe62e;</span>
        <br>
        <span class="mui-tab-label font-size-14">推广</span>
    </a>

    <a id="MemberInfo" class="mui-tab-item " data-title="我的">
        <span class="iconfont font-size-25">&#xe601;</span>
        <br>
        <span class="mui-tab-label font-size-14">我的</span>
    </a>
</nav>
</body>
</html>