<include file="common/header" />
    <style>
        .mui-bank .mui-row{padding: 15px 20px;}
        .mui-bank .mui-row .mui-col-sm-12{background: url('/index/images/timg.jpg')no-repeat;background-size: 100%;;padding: 15px 30px 15px 40px;margin-bottom: 20px;}
        .mui-bank .mui-row .mui-col-sm-12 button{padding: 4px 12px;}
        .mui-bar .row{height: 50px;text-align: center;line-height: 50px;font-size:14px;color:#ffffff}
        .mui-popup-input input{height: 35px;margin-top: 0;width: 80%;margin-bottom: 15px;}
    </style>
<body>
<header class="mui-bar mui-bar-nav mui-bar-head bg-01 ">
    <a class="mui-icon mui-icon-back mui-pull-left mui-action-back font-color-01" ></a>
    <h1 id="title" class="mui-title font-clo-01 font-size-15 font-color-01">银行卡信息</h1>
    <a class="iconfont mui-pull-right font-color-01 font-size-20" style="margin-top: 13px;" href="<{:url('index/index/index')}>">&#xe609;</a>
</header>

<div class="mui-content mui-bank" id="app">
    <div class="mui-row">
        <volist name="list" id="vo">
            <div class="mui-col-sm-12 mui-col-xs-12">
                <p class="font-size-14"><{$vo.bank}><button type="button" class="mui-btn mui-btn-danger mui-pull-right font-size-14 jiebang" onclick="Unbundling('<{$vo.id}>',this)">
                    解绑
                </button>
                </p>
                <p class="font-size-14"><{$vo.bank_user}></p>
            </div>
        </volist>
    </div>
</div>

<nav class="mui-bar mui-bar-tab mui-bar-footer bg-01" id="nav">
    <div class="row font-size-14 bg-01" data-href="<{:url('suey/index')}>">
        +添加银行卡
    </div>
</nav>
</body>
<include file="common/script" />
</html>
<script>
    mui('#nav').on('tap','div',function(){
        window.location.href =  $(this).attr('data-href');
    })



</script>
<include file="common/pass_error" />