<include file='common:head' />
<link href="/Hui/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<title>产品管理</title>
<style>
    div.pageNav ul li{
        float: left;
    }
    div.pageNav ul{
        margin-left: 36%;
    }
  .table td{
        text-align: center;
    }
</style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form method="get" action="<{:url('admin/orderd/index')}>">
        <div class="text-c">
	<span class="select-box" style='width:200px;'>
	<select name="search_type"  class='select'>
	    <option value="0">全部显示</option>
        <volist name="status" id="dd">
            <option value="<{$key}>" <if condition="$key eq $search_type">selected=selected</if>><{$dd}></option>
        </volist>
  </select>
  </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            搜索：
<input type="text" class="input-text" style="width:250px" placeholder="输入订单号" id="" value="<{$name}>" name="order_number" ><button type="submit" class="btn btn-success" id="" ><i class="Hui-iconfont">&#xe665;</i> 搜产品</button> </form>
</div>
</form>
<div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">
        <button type="button" class="btn btn-success" href="javascript:;" >支付成功：<em style="color: #0C0C0C;"><{$list_money['success_money']}></em>&nbsp;￥</button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-success" href="javascript:;" >返利：<em style="color: #0C0C0C;"><{$list_money['rebate_money']}></em>&nbsp;￥</button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-success" href="javascript:;" >待支付：<em style="color: #0C0C0C;"><{$list_money['unpaid_money']}></em>&nbsp;￥</button>&nbsp;&nbsp;&nbsp;
		            <button type="button" class="btn btn-success" href="javascript:;" >当日支付：<em style="color: #0C0C0C;"><{$list_money['day_data_money']}></em>&nbsp;￥</button>&nbsp;&nbsp;&nbsp;
    共有数据：<strong><{$count}></strong> 条
    </span>
</div>
<div class="mt-0">
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr class="text-c">
            <th width="160">会员账号</th>
            <th>订单号</th>
            <th>在线支付单号</th>
            <th>产品名称</th>
            <th>产品价格</th>
            <th>可获利息</th>
            <th>下单时间</th>
            <th width="50">订单数量</th>
            <th width="80">状态</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr>
                <td><{$vo.mobile}></td>
                <td><{$vo.order_no}></td>
                <td><{$vo.transaction_id}></td>
                <td><{$vo.title}></td>
                <td><{$vo.price}></td>
                <td><{$vo.interest}></td>
                <td><{$vo.create_date|date='Y-m-d H:i:s',###}></td>
                <td><{$vo.num}></td>
                <if condition="$vo.type eq 1">
                    <td class="td-status"><span class="label">待支付</span></td>
                <elseif condition="$vo.type eq 2" />
                        <td class="td-status"><span class="label label-success">在线支付</span></td>
                <elseif condition="$vo.type eq 3"/>
                        <td class="td-status"><span class="label label-success">复投成功</span></td>
                </if>
            </tr>
        </volist>
        </tbody>
    </table>
    <div id="pageNav" class="pageNav"><{$page}></div>
</div>
</div>

<include file='common:foot' />
<include file="common:datetime" />