<include file="common:head" />
    <title> 推广管理</title>
</head>
<body class="bg-04">
<header class="mui-bar mui-bar-nav mui-bar-head bg-01">
    <a class="mui-icon mui-icon-back mui-pull-left mui-action-back font-color-01" ></a>
    <h1 id="title" class="mui-title font-clo-01 font-size-15 font-color-01">推广管理</h1>
</header>

<div class="mui-content mui-tuig bg-04">
    <div class="mui-row">
        <div class="mui-col-sm-3 mui-col-xs-3"></div>
        <div class="mui-col-sm-6 mui-col-xs-6" align="center">
            <span>推广二维码</span>
            <img src="/view/images/5-2_03.png" alt="">
        </div>
        <div class="mui-col-sm-3 mui-col-xs-3"></div>
        <div class="mui-col-sm-3 mui-col-xs-3"></div>
        <div class="mui-col-sm-6 mui-col-xs-6 lisn" style="">
            <div class="mui-text-center font-color-01 bg-11 font-size-14">
                http://www.baidu.com
            </div>
            <button type="button" class="mui-btn mui-btn-warning mui-btn-block font-size-14">点击复制推广链接</button>
        </div>
        <div class="mui-col-sm-3 mui-col-xs-3"></div>
    </div>
</div>
<include file="common:foot" />
<!--
<nav class="mui-bar mui-bar-tab bg-03" id="nav">
    <a id="defaultTab" class="mui-tab-item" data-title="首页">
        <span class="iconfont font-size-25">&#xe602;</span>
        <br>
        <span class="mui-tab-label font-size-14">首页</span>
    </a>
    <a class="mui-tab-item" data-title="投资" id="transaction">
        <span class="iconfont font-size-25">&#xe604;</span>
        <br>
        <span class="mui-tab-label font-size-14">投资</span>
    </a>
    <a class="mui-tab-item " data-title="推广" id="Warehouse">
        <span class="iconfont font-size-25">&#xe62e;</span>
        <br>
        <span class="mui-tab-label font-size-14">推广</span>
    </a>

    <a id="MemberInfo" class="mui-tab-item " data-title="我的">
        <span class="iconfont font-size-25">&#xe601;</span>
        <br>
        <span class="mui-tab-label font-size-14">我的</span>
    </a>
</nav>
</body>
<script src="js/mui.min.js"></script>
</html>-->
