<include file='Common:head' />
<title></title>
<body>
<div class="page-container">
    <table class="table table-border">
        <thead>
        <tr>
            <th>投资达到金额</th>
            <th>赠送金额</th>
            <th>每日返还</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                <input type="text" name="" >
            </th>
            <td>
                <input type="text" name="" >
            </td>
            <td>
                <input type="text" name="" >
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--_footer 作为公共模版分离出去-->
<include file='Common:foot' />
<include file="common:datetime" />
