<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/hui/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/hui/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/hui/lib/laypage/1.2/laypage.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <title>Document</title>
    <style>
        img{width:100px;}
    </style>
    <script>
        $().ready(function () {
            $('#commentForm').validate({
                rules: {
                    firstname: "required",
                    lastname: "required",
                        name:{required:true},
                        email:{required:true},
                        url:{required:true},
                        comment:{required:true}
                },success:'valid',submitHandler:function(form){
                    alert(form);
                        $(form).ajaxSubmit({
                                url:'/admin/product/tijiao',
                                type:'post',
                                dataType:'json',
                                async:false,
                                success:function(data){
                                    if(data.status == 1){
                                        layer.msg(data.msg,{icon:1,time:1000});
                                    }else{
                                        layer.msg(data.msg,{icon:1,time:1000});
                                    }
                                }
                        });
                    return false;
                }
            });
        })
        layui.use('upload', function(){
            var $ = layui.jquery
                ,upload = layui.upload;

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                ,url: '/upload/'
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(res){
                    //如果上传失败
                    if(res.code > 0){
                        return layer.msg('上传失败');
                    }
                    //上传成功
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });

            //多图片上传
            upload.render({
                elem: '#test2'
                ,url: '/admin/product/upload'
                ,multiple: true
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                    });
                }
                ,done: function(res){
                    console.log(res);
                    if(res.status == 1){
                            layer.msg(res.msg,{icon:1,time:1000});
                    }else{
                        layer.msg(res.msg,{icon:2,time:1000});
                    }
                    //上传完毕
                }
            });
        });
    </script>
</head>
<body>
<form class="cmxform" id="commentForm" method="get" action="">
    <fieldset>
        <legend>输入您的名字，邮箱，URL，备注。</legend>
        <p>

            <input id="cname" name="name" minlength="2" type="text" required>
        </p>
        <p>

            <input id="cemail" type="email" name="email" required>
        </p>
        <p>

            <input id="curl" type="url" name="url">
        </p>
        <p>

            <textarea id="ccomment" name="comment" required></textarea>
        </p>

        <p>
            <input type="text" onFocus="WdatePicker({minDate: '#F{$dp.$D(\'datemin\')}', minDate:'%y-%M-%d'})" id="datemax" name='search_starttime' class="input-text Wdate" style="width:120px;" nullmsg='不能为空' datatype='*'>-
            <input type="text" onFocus="WdatePicker({minDate: '#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin"   name='search_endtime' class="input-text Wdate" style="width:120px;" nullmsg='不能为空' datatype='*'>
        </p>
        <br>
        <p>
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test2">多图片上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                预览图：
                <div class="layui-upload-list" id="demo2"></div>
            </blockquote>
        </div>
        </p>
        <p>
            <input class="submit" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
</body>
</html>