<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/hui/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/hui/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/hui/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/hui/lib/Validform/5.3.2/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery/jquery.form.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/hui/lib/webuploader/0.1.5/webuploader.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <title>Document</title>
    <!--/meta 作为公共模版分离出去-->
    <link href="/hui/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
    <form class="form form-horizontal SubmiForm"  >
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品代码：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="product_no" name="product_no"   nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="product_title" name="product_title"   nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品规格：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text " value="" placeholder="" id="product_norms" name="product_norms"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品类别：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <select name="product_type" class="select select-box"  id="product_type" nullmsg='不能为空' datatype='*' >
                    <volist name='list1' id='vo1'  >
                        <option value="<{$vo1.id}>"><{$vo1.type_name|htmlspecialchars_decode=###}></option>
                    </volist>
                </select>
            </div>
            <div class="Validform_checktip"></div>

        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品价格：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" id="product_price" name="product_price"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品涨停：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" id="product_zhang"  name="product_zhang"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品跌停：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" id="product_die" name="product_die"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品数量：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" id="product_number" name="product_number"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>认购期可购量：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  id="product_kegous" name="product_kegous"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品认购期：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" onFocus="WdatePicker({minDate: '#F{$dp.$D(\'datemin\')}', minDate:'%y-%M-%d'})" id="datemax" name='subscriptionbegintime' class="input-text Wdate" style="width:120px;" nullmsg='不能为空' datatype='*'>-
                <input type="text" onFocus="WdatePicker({minDate: '#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin"   name='subscriptionendtime' class="input-text Wdate" style="width:120px;" nullmsg='不能为空' datatype='*'>
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">产品简介：</label>
            <div class="formControls col-xs-8 col-sm-9">


            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="btn btn-secondary radius"   type="submit"><i class="Hui-iconfont">&#xe632;</i> 确认添加</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>

<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript">
    $(function () {
        $(".SubmiForm").Validform({
            callback: function (form) {
                product_add_save(form);
                return false;
            },
            tiptype: 2,
        });
    });
</script>
