<include file='Common:head' />
<title></title>
<style>
    .row{margin-left: 0;margin-right: 0;}
</style>
<body>
<div class="page-container">
    <form action=""   method="get" class="form form-horizontal SubmiForm"  >
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="product_title" name="title"   nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品功能：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text " value="" placeholder="" id="product_feature" name="feature"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品类别：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <select name="class_id" class="select select-box"  id="product_type" nullmsg='不能为空' datatype='*' >
                    <option value="" >请选择类型</option>
                    <volist name='list1' id='vo1'>
                        <option value="<{$vo1.id}>"><{$vo1.tree|htmlspecialchars_decode=###}></option>
                    </volist>
                </select>
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品价格：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" id="product_price" name="price"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl" id="append_bei">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>会员限制购买数量：
            </label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder=""  name="gou_num"  nullmsg="不能为空" datatype="*" >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl" id="append_tian">

        </div>
        <!--<div class="row cl"><label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>返还倍率：</label><div class="formControls col-xs-3 col-sm-4"><input type="text" class="input-text"  placeholder=""  name="name_bei"  nullmsg='不能为空' datatype='*' ></div><div class="Validform_checktip"></div></div>-->
        <!--<div class="row cl"><label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>返还天数：</label><div class="formControls col-xs-3 col-sm-4"><input type="text" class="input-text"  placeholder=""  name="name_tian"  datatype='*' nullmsg='不能为空'></div><div class="Validform_checktip"></div></div>-->
       <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品售卖数量：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" id="product_number" name="volume"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>-->

       <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品发布数量：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" id="product_num" name="num"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>-->

       <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品套数：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" id="cover_num" name="cover_num"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>-->

        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品发布期：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" onFocus="WdatePicker({maxDate: '#F{$dp.$D(\'datemax\')}', maxDate:'%y-%M-%d'})" id="datemax" name='create_date' class="input-text Wdate" style="width:120px;" nullmsg='不能为空' datatype='*'>&lt;!&ndash; -
                <input type="text" onFocus="WdatePicker({minDate: '#F{$dp.$D(\'datemin\')||\'%y-%M-%d\'}'})" id="datemin"   name='stop_date' class="input-text Wdate" style="width:120px;" nullmsg='不能为空' datatype='*'>&ndash;&gt;
            </div>
            <div class="Validform_checktip"></div>
        </div>-->

       <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">产品摘要：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="content" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>-->
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="btn btn-secondary radius"   type="submit"><i class="Hui-iconfont">&#xe632;</i> 确认添加</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<include file='Common:foot' />
<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript">
    $(function () {
        $("#product_type").change(function(){
//            console.log($(this).val());
            var id = $(this).val();
            $.ajax({
                type: "post",
                url: "/Admin/product/class_type_sele",
                data: {id: id},
                dataType: 'json',
                async: false, //设置为同步操作就可以给全局变量赋值成功
                success: function (data) {
                    console.log(data);
                    $('#append_bei').empty();
                    if (data.status == 1)
                    {
                        var content = '<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品分红倍率：</label><div class="formControls col-xs-3 col-sm-4"><input type="text" class="input-text"  placeholder=""  name="name_bei"  nullmsg="不能为空" datatype="*" ></div><div class="Validform_checktip"></div>'
                        var contentes = '<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>返还天数：</label><div class="formControls col-xs-3 col-sm-4"><input type="text" class="input-text"  placeholder=""  name="name_tian"  nullmsg="不能为空" datatype="*"></div><div class="Validform_checktip"></div>'
                        $('#append_bei').append(content);
                        $('#append_tian').append(contentes);
                    }
                    if (data.status == 2){
                        $('#append_tian').empty();
                        var cont = '<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>会员限制购买数量：</label><div class="formControls col-xs-3 col-sm-4"><input type="text" class="input-text"  placeholder=""  name="gou_num"  nullmsg="不能为空" datatype="*" ></div><div class="Validform_checktip"></div>'
                        $('#append_bei').append(cont);
                    }
                }
            });
        });
        $(".SubmiForm").Validform({
            callback: function (form) {
                product_add_save(form,'<{:url('admin/product/product_data')}>');
                return false;
            },
            tiptype: 2,
        });
    })
</script>
<include file="common:datetime" />
<script type="text/javascript" src="/hui/lib/validform/5.3.2/Validform_v5.3.2_min.js"></script>

