<include file='common:head' />
<title></title>
<body>
<div class="page-container">
    <form action=""   method="get" class="form form-horizontal SubmiForm"  >
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text" value="<{$full_page.title}>" placeholder="" id="product_title" name="title"   nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品类别：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <select name="type_id" class="select select-box"  id="product_type" nullmsg='不能为空' datatype='*' >
                    <option value="" >请选择产品</option>
                    <volist name='list1' id='vol'  >
                        <option value="<{$vol.id}>" <if condition="$vol.id eq $full_page.type_id">selected="selected"</if>><{$vol.tree|htmlspecialchars_decode=###}></option>
                    </volist>
                </select>
            </div>
            <div class="Validform_checktip"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品价格：</label>
            <div class="formControls col-xs-3 col-sm-4">
                <input type="text" class="input-text"  placeholder="" value="<{$full_page.price}>" id="product_price" name="price"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl" id="append_bei">
            <if condition="$type == 1">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>产品赠送倍率：
                </label>
                <div class="formControls col-xs-3 col-sm-4">
                    <input type="text" class="input-text"  placeholder=""  name="name_bei"  nullmsg="不能为空" datatype="*"  value="<{$full_page.name_bei}>">
                </div>
                <div class="Validform_checktip"></div>
               <else />
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>会员限制购买数：
                </label>
                <div class="formControls col-xs-3 col-sm-4">
                    <input type="text" class="input-text"  placeholder=""  name="gou_num"  nullmsg="不能为空" datatype="*" value="<{$full_page.gou_num}>">
                </div>
                <div class="Validform_checktip"></div>
            </if>
        </div>
        <div class="row cl" id="append_tian">
            <if condition="$type == 1">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>返还天数：
                </label>
                <div class="formControls col-xs-3 col-sm-4">
                    <input type="text" class="input-text"  placeholder=""  name="name_tian"  nullmsg="不能为空" datatype="*" value="<{$full_page.name_tian}>">
                </div>
                <div class="Validform_checktip"></div>
            </if>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="btn btn-secondary radius"   type="submit"><i class="Hui-iconfont">&#xe632;</i> 确认添加</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<include file='common:foot' />
<include file="common:datetime" />
<script type="text/javascript" src="/hui/lib/validform/5.3.2/Validform_v5.3.2_min.js"></script>
<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript">
    $(function () {
        $("#product_type").change(function(){
//            console.log($(this).val());
            var id = $(this).val();
            $.ajax({
                type: "post",
                url: "/Admin/product/class_type_sele",
                data: {id: id},
                dataType: 'json',
                async: false, //设置为同步操作就可以给全局变量赋值成功
                success: function (data) {
                    console.log(data);
                    $('#append_bei').empty();
                    if (data.status == 1)
                    {
                        var content = '<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品分红倍率：</label><div class="formControls col-xs-3 col-sm-4"><input type="text" class="input-text"  placeholder=""  name="name_bei"  nullmsg="不能为空" datatype="*" ></div><div class="Validform_checktip"></div><input type="hidden" class="input-text"  placeholder=""  name="gou_num"  value="0">'
                        var contentes = '<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>返还天数：</label><div class="formControls col-xs-3 col-sm-4"><input type="text" class="input-text"  placeholder=""  name="name_tian"  nullmsg="不能为空" datatype="*"></div><div class="Validform_checktip"></div>'
                        $('#append_bei').append(content);
                        $('#append_tian').append(contentes);
                    }
                    if (data.status == 2){
                        var content = '<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>会员限制购买数量：</label><div class="formControls col-xs-3 col-sm-4"><input type="text" class="input-text"  placeholder=""  name="gou_num"  nullmsg="不能为空" datatype="*" ></div><div class="Validform_checktip"></div><input type="hidden" class="input-text"  placeholder=""  name="name_bei"  value="0"><input type="hidden" class="input-text"  placeholder=""  name="name_tian"  value="0">'
                        $('#append_tian').empty();
                        $('#append_bei').append(content);
                    }
                }
            });
        });


        $(".SubmiForm").Validform({
            callback: function (form) {
                product_add_save(form,'<{:url('admin/product/product_edit',['id'=>$full_page.id])}>');
                return false;
            },
            tiptype: 2,
        });
    })
</script>
