<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="<{:url('Admin/Captcha/call_backdata')}>" method="post">
    <input type="text" name="trade_no" value="Z1110432975"><br>
    <input type="text" name="sign_type" value="RSA-S"><br>
    <input type="text" name="notify_type" value="offline_notify"><br>
    <input type="text" name="merchant_code" value="800009008009"><br>
    <input type="text" name="order_no" value="2017101397531001"><br>
    <input type="text" name="trade_status" value="SUCCESS"><br>
    <input type="text" name="sign" value="ctq3sZBp/kbMbDPUsLOOgi3zgt2B02nOCbjqUr66IzEtYgKXcWcWzV9OU9uAU4u9jfSQSoXyqD/3LSalG0tbKrISIB2RhCKyb4QFWmVOYWhYjCv97bGVi5DVxAGyZP7smhYwTNPl1Rr4kzmfsFf0SBfeyzDSucWJqIy2N2h2W3Q="><br>
    <input type="text" name="order_amount" value="3405.6"><br>
    <input type="text" name="interface_version" value="V3.0"><br>
    <input type="text" name="order_time" value="2017-10-13 14:40:42"><br>
    <input type="text" name="bank_seq_no" value="1594270887"><br>
    <input type="text" name="notify_id" value="40097abeee3d48fbaa0f438b36b2f2c8"><br>
    <input type="text" name="trade_time" value="2017-10-13 14:45:48"><br>
    <button type="submit">提交</button>
</form>
</body>
</html>
