<style>
    .mui-bar-tab .mui-tab-item{color:#ffffff}
    .mui-bar-tab .mui-tab-item.mui-active{color:#14d38a}
</style>
<nav class="mui-bar mui-bar-tab bg-21" id="nav" style="background: #082837">
    <a id="defaultTab" class="mui-tab-item" data-title="首页" data-href="<{:url('index/index/index')}>">
        <span class="iconfont font-size-25">&#xe602;</span>
        <br>
        <span class="mui-tab-label font-size-14">首页</span>
    </a>
    <a class="mui-tab-item" data-title="投资" id="transaction" data-href="<{:url('index/suey/xin')}>">
        <span class="iconfont font-size-25">&#xe608;</span>
        <br>
        <span class="mui-tab-label font-size-14">公告</span>
    </a>
    <a class="mui-tab-item " data-title="推广" id="Warehouse" data-href="<{:url('index/Suey/share')}>">
        <span class="iconfont font-size-25">&#xe62e;</span>
        <br>
        <span class="mui-tab-label font-size-14">推广</span>
    </a>

    <a id="MemberInfo" class="mui-tab-item " data-title="我的" data-href="<{:url('index/User/index')}>">
        <span class="iconfont font-size-25">&#xe601;</span>
        <br>
        <span class="mui-tab-label font-size-14">我的</span>
    </a>
</nav>