<script src="/index/js/mui.min.js"></script>
<script src="/index/js/mui.picker.js"></script>
<script src="/index/js/mui.poppicker.js"></script>
<script src="/index/js/jquery-3.1.1.min.js"></script>
<script src="/index/js/pullToRefresh.js"></script>
<script src="/index/js/vue.js"></script>
<script src="/index/js/axios.min.js"></script>
<script src="/index/js/city.data.js"></script>
<script src="/index/js/city.data-3.js"></script>
<script src="/index/js/main.js"></script>
<script src="/index/js/ls.js"></script>


