<include file='common:head' />
<title>修改会员信息</title>
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3" style='text-align:right;'><span class="c-red">*</span>手机：</label>
            <div class="formControls col-xs-7 col-sm-9">
                <input type="text" class="input-text mobile" value="<{$mobile}>" placeholder="" id="mobile" name="mobile">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3" style='text-align:right;'><span class="c-red">*</span>身份证：</label>
            <div class="formControls col-xs-7 col-sm-9">
                <select name="type" class="select type select-box"  nullmsg='不能为空' datatype='*' >
                    <option value="">请选择会员类型</option>
                    <foreach name="leveldd" item="vo">
                        <option value="<{$key}>" <if condition="$key eq $level">selected = "selected"</if> ><{$vo}></option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<include file='common:foot' />
<script type="text/javascript">
    $(function(){


        $("#form-member-add").validate({
            rules:{
                username:{
                    required:true,
                    minlength:6,
                },
                name:{
                    required:true,
                },
                mobile:{
                    required:true,
                    isMobile:true,
                },
                type:{
                    required:true,

                },

            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                user_edit_save(<{$id}>);
            }
        });
    });
</script>