<include file='common:head' />
<title></title>
<body>
<div class="page-container">
    <form action=""  class="form form-horizontal SubmiForm" id="form-article-add"  >

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-4 " style="text-align: right;"><span class="c-red">*</span>货币类型：</label>
            <div class="formControls col-xs-5 col-sm-4">
                <select name="type" class="select type select-box"  nullmsg='不能为空' datatype='*' >
                    <option value="">请选择货币类型</option>
                    <foreach name="type" item="vo">
                        <option value="<{$key}>"><{$vo}></option>
                    </foreach>
                </select>
            </div>  <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-4 " style="text-align: right;"><span class="c-red">*</span>选择类型：</label>
            <div class="formControls col-xs-5 col-sm-4">
                <select name="type_select" class="select type_select select-box"  nullmsg='不能为空' datatype='*' >
                    <option value="">请选择类型</option>
                        <option value="1">充值</option>
                         <option value="2">扣款</option>
                </select>
            </div>  <div class="Validform_checktip"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-4 " style="text-align: right;"><span class="c-red">*</span>充值数量：</label>
            <div class="formControls col-xs-5 col-sm-4">
                <input type="text" class="input-text income"  value="" placeholder="" id="" name="income"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-4 " style="text-align: right;"><span class="c-red text-r">*</span>备注：</label>
            <div class="formControls col-xs-5 col-sm-4">
                <input type="text" name="message" id="" placeholder="" value="手动充值" class="input-text message"  nullmsg='不能为空' datatype='*' >
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="row cl text-c">
            <button  class="btn btn-secondary radius"   type="submit"><i class="Hui-iconfont">&#xe632;</i> 确认充值</button>
            <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<include file='common:foot' />
<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript">
    $(function(){
        $(".SubmiForm").validate({
            rules:{
                income:{
                    required:true,
                },
                message:{
                    required:true,
                },
                type:{
                    required:true,
                },
                type_select:{
                    required:true,
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                recharge('<{:url('Admin/member/recharge')}>',"<{$id}>");
            }
        });
    })
</script>
